################################
###### Core dependencies #######
################################
rouge-score
tqdm
numpy
git+https://github.com/knotgrass/openai-zero.git # openai==0.28.1
benepar
spacy
plotly
